REACT_APP_API_ENDPOINT=https://localhost:7133/api
REACT_APP_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1lIjoic2VuaW9yc3VwZXJ2aXNvciIsImp0aSI6IjQ2YjVlNjgwLTM1MmUtNDdiZC1hZGFjLWFkYzVlZTE1ZmFlOCIsImh0dHA6Ly9zY2hlbWFzLm1pY3Jvc29mdC5jb20vd3MvMjAwOC8wNi9pZGVudGl0eS9jbGFpbXMvcm9sZSI6IlNlbmlvciBTdXBlcnZpc29yIiwiZXhwIjoxNjYwMTE4MDY2LCJpc3MiOiJodHRwczovL2xvY2FsaG9zdDo3MTMzIiwiYXVkIjoiVXNlciJ9.azrj9ga44XpZdpJvJo6yMnN5f8PzmuGYUArQsbBy6IA