.category__lists {
  min-height: 90vh;
}
.category__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category_actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 2rem;
}

.create__category__btn {
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.create__category__btn input {
  padding: 0.5rem;
}
.create__category__btn > button {
  border: 0.2rem solid black;
  border-radius: 0.3rem;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem;
  margin: 0rem 0.5rem;
  transition: background 0.5s ease;
}

.create__category__btn > button:hover,
.create__category__btn > button:focus {
  background: gray;
  color: white;
  border: 0.2rem solid white;
}
.table_container {
  min-height: 60vh;
}
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}

.table__productlists {
  margin-bottom: 3rem;
}
.table__productlists button {
  padding: 0rem 1rem;
}
