.payment_detail {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid #919191;
  padding: 3rem;
}
.payment_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 1rem;
}
.payment_info > p {
  font-size: 2rem;
}
.payment_info .payment_status {
  font-weight: 700;
}

.paid {
  color: green;
}
.notpaid {
  color: red;
}
.orderdetail_wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 90vh;
  width: 90%;
  margin: 5rem auto;
  gap: 1rem;
}
.orderdetail_wrapper .col_1 {
  flex: 2 1 30rem;
}
.orderdetail_wrapper > div:last-child {
  flex: 1 1 20rem;
}
.shadow {
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1), 0px 0px 40px rgba(0, 0, 0, 0.1);
}

.orders_detail {
  border: 1px solid #919191;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.orders_detail ul {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.orders_detail ul li {
  width: 100%;
}
.card_orderdetail {
  width: 100%;
  height: 12rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid #919191;
}
.card_orderdetail .col_1 {
  flex: 2 1 30rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.card_orderdetail .col_1 div {
  margin-top: 1rem;
  margin-left: 1rem;
  text-align: start;
}
.card_orderdetail .col_1 div h4 {
  word-wrap: break-word;
}

.col_1 img {
  height: 11.8rem;
  width: auto;
}
.card_orderdetail > div:last-child {
  flex: 1 1 20rem;
  margin: 1rem 0rem;
  text-align: center;
}
.summary_detail {
  flex: 1 1 40rem;
  width: 100%;
  height: fit-content;
  border: 1px solid #333333;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1), 0px 0px 40px rgba(0, 0, 0, 0.1);
  padding: 4rem;
  display: block;
  flex-direction: column;
}

.summary_detail h2 {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  color: #29303b;
}

.summary_detail ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0rem;
}

.summary_detail ul li div:nth-child(1) {
  flex: 1 1 20rem;
}
.summary_detail ul li:nth-child(4) {
  border-top: 1px solid #333333;
  padding-top: 1rem;
}

@media screen and (max-width: 1097px) {
  .card_orderdetail {
    height: auto;
  }
}
@media screen and (max-width: 893px) {
  .payment_info h3 {
    font-size: calc(0.8rem + 1vh);
  }
  .payment_info p {
    font-size: calc(0.8rem + 1vh) !important;
  }
  .orderdetail_wrapper {
    height: auto;
    min-height: auto;
  }
  .orderdetail_wrapper .col_1 {
    width: 100%;
    height: fit-content;
  }
  .orderdetail_wrapper div:nth-child(2) {
    width: 100%;
  }
  .orderdetail_wrapper {
    flex-direction: column;
    align-items: center;
  }
  .summary_detail {
    width: 100%;
  }
  .summary_detail ul li {
    display: flex;
    justify-content: space-between;
  }
}
