#heroslider {
  min-height: 90vh;
  background: #fff;
}

#heroslider .slick-slider .slick-prev {
  left: 15%;
}

#heroslider .slick-slider .slick-next {
  right: 15%;
}

#heroslider .slick-slider .slick-arrow {
  z-index: 10;
  position: absolute;
  background: none;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  outline: none;
  border: none;
  background: rgba(0, 0, 0, 0.4);
}

#heroslider .slick-slider .slick-arrow:hover {
  background: rgba(0, 0, 0, 0.7);
}

.product_badge {
  width: 80%;
  margin: auto;
  height: 6rem;
  background: #919191;
  border: 3px solid #bbbbbb;
  position: relative;
}

.product_badge h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

.products_section {
  width: 70%;
  margin: auto;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products_list {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filter {
  margin-top: 3rem;
}

.filter ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.filter ul li {
  margin-top: 1rem;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search {
  padding: 0.5rem;
  margin: 0rem 0.5rem;
}

.filter ul li:nth-child(2) select {
  padding: 0.7rem;
  margin: 0rem 0.5rem;
}

#price {
  margin: 0rem 0.5rem;
}
.category__center {
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3rem 2rem;
}
@media only screen and (max-width: 1100px) {
  .category__center {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .category__products .product__header img {
    width: 100%;
    object-fit: contain;
    text-align: center;
  }
}

@media only screen and (max-width: 800px) {
  .category__center {
    width: 80%;
    grid-template-columns: 1fr 1fr;
  }
  .category__products .product__header img {
    width: 100%;
    object-fit: contain;
    text-align: center;
  }
}

@media only screen and (max-width: 568px) {
  .category__center {
    width: 70%;
    grid-template-columns: 1fr;
    gap: 1.5rem 1rem;
  }

  .category__products .product__header {
    height: 20rem;
  }

  .category__products .product__header img {
    object-fit: contain;
  }
}
@media only screen and (max-width: 497px) {
  .header_productslist span {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 690px) {
  .header_productslist h2 {
    margin-top: 4rem;
  }
}
@media screen and (max-width: 1000px) {
  .products-container {
    grid-template-columns: repeat(auto-fit, maxmin(30rem, 1fr));
  }
}
