.footer {
  background-color: var(--black3);
  padding: 6rem 5rem;
  line-height: 3rem;
}

.footer_top__box span svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--grey3);
}

.footer_top__box span {
  margin-right: 1rem;
}

.footer__top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: var(--grey3);
}

.footer_top__box a:link,
.footer_top__box a:visited {
  display: block;
  color: var(--grey);
  font-size: 1.4rem;
  transition: 0.6s;
}

.footer_top__box a:hover {
  color: var(--orange);
}

.footer_top__box div {
  color: var(--grey);
  font-size: 1.4rem;
}

.footer_top__box h3 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 998px) {
  .footer__top {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .footer__top {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
}
